.lead__bckground {
  max-width: 1441px;
  margin: 0 auto;
  background-image: url('../../../images/lead-background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 62.5vw;
  max-height: 720px;
}
