.team__list-person {
  margin-top: 72px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(161px, 1fr));
  gap: 28px;
  row-gap: 41px; */
}
