.btn {
  border: 1px solid white;
  background: none;
  border-radius: 27px;
  color: white;
  min-height: 30px;
  width: 190px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  cursor: pointer;
  transition: box-shadow linear 300ms;
}
