.lead__linear-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(356deg, white 15%, transparent 15.2%),
    radial-gradient(circle farthest-side at right, rgba(0, 0, 0, 0.849) 30%, transparent);
}
