.organizations__logo-list {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* flex-direction: row; */
  /* display: grid; */
  /* grid-template-columns: repeat(6, 170px); */
  /* row-gap: 24px;
  column-gap: 18px; */
}
