@keyframes hover {
  /* 0% {
    font-weight: 400;
  } */

  0% {
    font-weight: 700;
  }

  70% {
    font-weight: 400;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.4);
  }

  100% {
    color: rgba(68, 68, 68, 0.2);
    border-color: rgba(68, 68, 68, 0.2);
  }
}

.hover:hover {
  animation: hover 5s linear;
}
