.about__img {
  position: relative;
  z-index: -1;
  max-width: 456px;
  margin-left: 30px;
  align-self: center;
  /* margin-top: -100px; */
}
@media screen and (max-width: 1154px) {
  .about__img {
    max-width: 400px;
  }
}
@media screen and (max-width: 1024px) {
  .about__img {
    height: 45vw;
  }
}
